{% extends 'sidebar_layout.twig' %}

{% block main %}
    
    <div>
        <a href="/info/prog">Back to parent</a>
    </div>

    <h3>
    {% block title %}
        No title given
    {% endblock %}
    </h3>

    <div class="content">
        {% block content %}

        {% endblock %}
    </div>

{% endblock %}
