{% extends "sidebar_layout.twig" %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/lesson_summary.css" />
{% endblock %}


{% block main %}

    {% include './datatypes/index.twig' %}

    <div class="lesson-header">
        <h3>Python sajátosságok</h3>
        <div>
            <h5>Objektumok</h5>
            <h5>Blokkok & Identálás</h5>
        </div>
    </div>

    {% include './control_flow/index.twig' %}

    <div class="lesson-header">
        <h3>Fájl kezelés</h3>
    </div>

    <div class="lesson-header">
        <ul>
            <h4>Hasznos, de feltétlen szükséges = kihagyható</h4>
            <li>Függvények</li>
            <li>Osztályok</li>
            <li>Osztály objektum</li>
            <li>Osztály metódus</li>
            <li>Hibakezelés</li>
            <li>Hiba dobás</li>
            <li>Hiba elkapás</li>
        </ul>
    </div>
{% endblock %}
