<!DOCTYPE html>
<html>
<head>
    <title> Title </title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    {% block styles %}{% endblock %}

</head>
<body>

{% block body %}{% endblock %}

</body>
</html>

