{% extends "layout.twig" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/sidebar.css" />
    <link rel="stylesheet" type="text/css" href="/content.css" />
{% endblock %}


{% block body %}
    <div class="container">
        <div class="sidebar">
            <div>
                LOGO
            </div>
            <nav>
                {{ create_nav() }}
            </nav>
        </div>
        <main>
            {% block main %}

            {% endblock %}

        </main>
    </div>
{% endblock %}

