.content {
    left: 0;
    width: auto;
    background-color: #9999cc;
    padding: 3.2em;
}

.code-block{
    background: antiquewhite;
    padding: 1em;
    border-radius: 1em;
}

p + p {
    margin-top: .5em;
}
