{% extends "templates/collapsable.twig" %}

{% block header%}
    Vezérlés
{% endblock %}

{% block content %}
    <div>
        <p>A célja ennek a résznek, hogy ismertesse,  hogy hogyan történik a proramoknak a futása</p>

        <p>Most alapvezően az egyszálon futó syncron-ban futó prgramokról fogunk beszélni</p>
        <p>Ebben az esetben a program sorról sorra fog lefutni</p>
        <p>Annak érdekében, hogy ezt manipulálni tudjuk van pár eszköz, fontosabbak:
            függvények, elágazások, ciklusok</p>
        <br>
        <div>
            <ul>
                Leckék
                <li><a href="/info/prog/elagazas">Elágazás (If-else)</a></li>
                <li><a href="/info/prog/ciklusok">Ciklusok (for, while)</a></li>
                <li><a href="/info/prog/ciklusok-manipulalasa">Ciklusok manipuláció</a></li>
                <li><a href="/info/prog/fuggvenyek">Kiegészítő:: Függvények</a></li>
            </ul>
        </div>
    </div>

{% endblock %}



