{% extends 'sidebar_layout.twig' %}

{% block main %}
    <h1>Emelt informatika felkészítő</h1>

    <h3>
        Tartalom ::
    </h3>

    <ul>
        <li>View sutff</li>
        <li>Táblázat kezelő</li>
        <li>Adatbázis kezelő</li>
        <li><a href="/info/prog">Programozás</a></li>
    </ul>
{% endblock %}
