{% extends "templates/collapsable.twig" %}

{% block header%}
    <h3>Python sajátosságok</h3>
{% endblock %}

{% block content %}

    <p>
        Itt a legfontosabb rész a blokkok, az objektumok nem annyira fontos, az egy teljesen másik topic
        viszont

    </p>
    <ul>
        Részanyagok:
        <li><a href="/info/prog/objektumok">Objektumok</a></li>
        <li><a href="/info/prog/blokkok">Indetálás Blokkok</a></li>
    </ul>

{% endblock %}



