{% extends "../prog_lesson_template.twig" %}

{% block title %}
    <h3>Objektumok</h3>
{% endblock %}

{% block content %}

    <div>
        <p>Problem Too abstract topic</p>
        <ul>
            <b>Take Aways:</b>
            <li>Pythonban minden objektum</li>
            <li>Az objektumoknak vannak metódusai és belső értékei</li>
            <li>Object.Attribute érték elérés</li>
            <li>Object.Method() metódus hívás</li>
            <li>Function() függvény hívás</li>
        </ul>
    </div>

    <p>
        SideNote a függvény, és metódus közötti különbség, hogy a metódust az objektum tartalmazza
    </p>

    <p>
        Ez egy kicsit abstraktabb topic, aminek a fő lényege, hogy rálássunk mi az az objektum
    </p>
    <p>
        Az objektumnak vannak metódusai valamit változói
    </p>

    <div>
        <p>
            Ami az érdekes, hogy a Python nyelven belül minden egy object, valamint minden módosítható
        </p>
        <p>
            Így akár a haszos üggvényeinket is felűl tudjuk írni, valami haszontalanra like: print = 0
            <br>
            Így mostmár a print függvény helyett egy sámunk van, amivel nem tudunk többé a consol-ra írni
        </p>
    </div>

    <p>
        A metódusokat az objektumokon keresztül tudunk meghívni => Object.Method()
    </p>
    <p>
        Az objektu változóit Object.Attribute -al tudjuk elérni
    </p>

{% endblock %}
