
<div>
    <div class="header">
        {% block header %}

        {% endblock %}
    </div>

    <div class="collapsable-content">
        {% block content %}

        {% endblock %}
    </div>
</div>
